[Desktop Entry]
Name=Latte Plasmoid
Name[ca]=Plasmoide del Latte
Name[ca@valencia]=Plasmoide del Latte
Name[cs]=Plasmoid Latte
Name[da]=Latte-plasmoid
Name[de]=Latte-Plasmoid
Name[el]=Πρόσθετο Latte
Name[en_GB]=Latte Plasmoid
Name[es]=Plasmoide Latte
Name[fi]=Latte-sovelma
Name[gl]=Plasmoide de Latte
Name[it]=Plasmoide Latte
Name[nl]=Latte-plasmoid
Name[nn]=Latte-skjermelement
Name[pl]=Plazmoid Latte
Name[pt]=Plasmóide do Latte
Name[pt_BR]=Plasmoide do Latte
Name[sv]=Latte Plasmoid
Name[uk]=Плазмоїд Латте
Name[x-test]=xxLatte Plasmoidxx
Name[zh_CN]=Latte Plasmoid
Name[zh_TW]=Latte Plasmoid
Comment=Plasmoid from the Latte Dock
Comment[ca]=Plasmoide del Latte Dock
Comment[ca@valencia]=Plasmoide del Latte Dock
Comment[cs]=Plasmoid z doku Latte
Comment[da]=Plasmoid fra Latte-dokken
Comment[de]=Latte-Starterbereich als Miniprogramm
Comment[el]=Πρόσθετο της εφαρμογής Latte
Comment[en_GB]=Plasmoid from the Latte Dock
Comment[es]=Plasmoide de Latte Dock
Comment[fi]=Latte-telakan sovelma
Comment[gl]=Plasmoide da doca Latte.
Comment[it]=Plasmoide da Latte Dock
Comment[nl]=Plasmoid uit de Latte Dock
Comment[nn]=Skjermeelement frå Latte-dokk
Comment[pl]=Plazmoid dla doku Latte
Comment[pt]=Plasmóide da Área Acoplável do Latte
Comment[pt_BR]=Plasmoide do Latte Dock
Comment[sv]=Plasmoid för Latte dockningsfönster
Comment[uk]=Плазмоїд для панелі Латте
Comment[x-test]=xxPlasmoid from the Latte Dockxx
Comment[zh_CN]=Latte 停靠栏的 Plasmoid
Comment[zh_TW]=從 Latte Dock 而來的 Plasmoid

Type=Service
Icon=latte-dock
X-KDE-ServiceTypes=Plasma/Applet
X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
X-Plasma-Provides=org.kde.plasma.multitasking
X-KDE-PluginInfo-Author=Michail Vourlakos, Smith Ar
X-KDE-PluginInfo-Email=mvourlakos@gmail.com, audoban@openmailbox.org
X-KDE-PluginInfo-Name=org.kde.latte.plasmoid
X-KDE-PluginInfo-Version=0.8.0
X-KDE-PluginInfo-Website=https://github.com/psifidotos/Latte-Dock
X-KDE-PluginInfo-Category=Windows and Tasks
X-KDE-PluginInfo-Depends=X-KDE-PluginInfo-License=GPL v2+
X-KDE-PluginInfo-EnabledByDefault=true
