[Desktop Entry]
Name=Latte Tasks
Name[ca]=Tasques del Latte
Name[ca@valencia]=Tasques del Latte
Name[en_GB]=Latte Tasks
Name[fi]=Latte-tehtävät
Name[gl]=Tarefas de Latte
Name[nl]=Latte-taken
Name[pt]=Tarefas do Latte
Name[pt_BR]=Tarefas do Latte
Name[sv]=Latte aktiviteter
Name[uk]=Завдання Латте
Name[x-test]=xxLatte Tasksxx
Name[zh_TW]=Latte 任務
Comment=Tasks plasmoid from Latte Dock
Comment[ca]=Plasmoide de tasques del Latte Dock
Comment[ca@valencia]=Plasmoide de tasques del Latte Dock
Comment[en_GB]=Tasks plasmoid from Latte Dock
Comment[fi]=Latte-telakan tehtäväsovelma
Comment[gl]=Plasmoides de tarefas da doca Latte
Comment[nl]=Plasmoid voor taken uit Latte Dock
Comment[pt]=Plasmóide de tarefas da Área Acoplável do Latte
Comment[pt_BR]=Plasmoide de tarefas do Latte Dock
Comment[sv]=Aktivitetsplasmoid för Latte dockningsfönster
Comment[uk]=Плазмоїд завдань з панелі Латте
Comment[x-test]=xxTasks plasmoid from Latte Dockxx
Comment[zh_TW]=來自 Latte Dock 的任務 Plasmoid

Type=Service
Icon=latte-dock
X-KDE-ServiceTypes=Plasma/Applet
X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
X-Plasma-Provides=org.kde.plasma.multitasking
X-KDE-PluginInfo-Author=Michail Vourlakos, Smith Ar
X-KDE-PluginInfo-Email=mvourlakos@gmail.com, audoban@openmailbox.org
X-KDE-PluginInfo-Name=org.kde.latte.plasmoid
X-KDE-PluginInfo-Version=0.8.75
X-KDE-PluginInfo-Website=https://github.com/psifidotos/Latte-Dock
X-KDE-PluginInfo-Category=Windows and Tasks
X-KDE-PluginInfo-Depends=X-KDE-PluginInfo-License=GPL v2+
X-KDE-PluginInfo-EnabledByDefault=true
