[Desktop Entry]
Name=Now Dock Shell
Encoding=UTF-8
Keywords=shell
Type=Service

X-KDE-ServiceTypes=Plasma/Shell
X-KDE-ParentApp=nowdock
X-KDE-PluginInfo-Author=Michail Vourlakos
X-KDE-PluginInfo-Email=mvourlakos@gmail.com
X-KDE-PluginInfo-License=GPLv3+
X-KDE-PluginInfo-Name=org.kde.nowdock.shell
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=https://github.com/psifidotos/nowdock-panel
