[Desktop Entry]
Name=Latte Separator
Name[ca]=Separador del Latte
Name[ca@valencia]=Separador del Latte
Name[es]=Separador de Latte
Name[nl]=Latte-scheidingsteken
Name[pt]=Separador do Latte
Name[sv]=Latte avskiljare
Name[uk]=Роздільник Латте
Name[x-test]=xxLatte Separatorxx
Comment=Latte Ghost Separator (Ghost file)
Comment[ca]=Separador del Latte Ghost (fitxer Ghost)
Comment[ca@valencia]=Separador del Latte Ghost (fitxer Ghost)
Comment[es]=Separador Ghost de Latte (archivo Ghost)
Comment[nl]=Latte Ghost-scheidingsteken (Ghost-bestand)
Comment[pt]=Separador Ghost do Latte (ficheiro Ghost)
Comment[sv]=Latte spökavskiljare (spökfil)
Comment[uk]=Роздільник-привид Латте (файл-привид)
Comment[x-test]=xxLatte Ghost Separator (Ghost file)xx
GenericName=Dock
GenericName[ca]=Acobla
GenericName[ca@valencia]=Acobla
GenericName[es]=Dock
GenericName[nl]=Dock
GenericName[pt]=Área Acoplável
GenericName[sk]=Dok
GenericName[sv]=Dockningsfönster
GenericName[uk]=Панель
GenericName[x-test]=xxDockxx
GenericName[zh_CN]=停靠部件
Version=0.1
Categories=Utility;
Exec=latte-dock %u
Icon=latte-dock
InitialPreference=1
Terminal=false
Type=Application
