[Desktop Entry]
Name=Latte Separator
Name[ca]=Separador del Latte
Name[ca@valencia]=Separador del Latte
Name[da]=Latte-adskiller
Name[de]=Latte-Abstandshalter
Name[el]=Διαχωριστικό Latte
Name[en_GB]=Latte Separator
Name[es]=Separador de Latte
Name[fi]=Latte-erotin
Name[it]=Separatore Latte
Name[nl]=Latte-scheidingsteken
Name[pl]=Oddzielacz Latte
Name[pt]=Separador do Latte
Name[sv]=Latte avskiljare
Name[uk]=Роздільник Латте
Name[x-test]=xxLatte Separatorxx
Name[zh_CN]=拿铁分隔符
Name[zh_TW]=Latte 分隔器
Comment=Latte Ghost Separator (Ghost file)
Comment[ca]=Separador del Latte Ghost (fitxer Ghost)
Comment[ca@valencia]=Separador del Latte Ghost (fitxer Ghost)
Comment[da]=Latte Ghost-adskiller (Ghost-fil)
Comment[el]=Εικονικός Διαχωριστής Latte (εικονικό αρχείο)
Comment[en_GB]=Latte Ghost Separator (Ghost file)
Comment[es]=Separador Ghost de Latte (archivo Ghost)
Comment[it]=Separatore fantasma Latte (file fantasma)
Comment[nl]=Latte Ghost-scheidingsteken (Ghost-bestand)
Comment[pl]=Oddzielacz Ghost Latte (plik Ghost)
Comment[pt]=Separador Ghost do Latte (ficheiro Ghost)
Comment[sv]=Latte spökavskiljare (spökfil)
Comment[uk]=Роздільник-привид Латте (файл-привид)
Comment[x-test]=xxLatte Ghost Separator (Ghost file)xx
Comment[zh_CN]=拿铁幽灵分隔符 (幽灵文件)
Comment[zh_TW]=Latte 鬼分隔器（鬼檔案）
GenericName=Dock
GenericName[ca]=Acobla
GenericName[ca@valencia]=Acobla
GenericName[cs]=Dok
GenericName[da]=Dok
GenericName[de]=Dock
GenericName[el]=Πίνακας
GenericName[en_GB]=Dock
GenericName[es]=Dock
GenericName[fi]=Telakka
GenericName[it]=Aggancio
GenericName[nl]=Dock
GenericName[pl]=Dok
GenericName[pt]=Área Acoplável
GenericName[sk]=Dok
GenericName[sv]=Dockningsfönster
GenericName[uk]=Панель
GenericName[x-test]=xxDockxx
GenericName[zh_CN]=停靠部件
GenericName[zh_TW]=Dock
Version=0.1
Categories=Utility;
Exec=latte-dock %u
Icon=latte-dock
InitialPreference=1
Terminal=false
Type=Application
