[Desktop Entry]
Name=Latte
Name[de]=Latte
Name[el]=Latte
Name[es]=Latte
Name[it]=Latte
Comment=Dock for the masses
Comment[de]=Dock für die Massen
Comment[el]=Πίνακας για όλον τον κόσμο
Comment[es]=Dock para las masas
Comment[it]=Dock per le masse
GenericName=Dock
GenericName[de]=Dock
GenericName[el]=Πίνακας
GenericName[es]=Dock
GenericName[it]=Dock

Categories=Utility;X-SuSE-DesktopUtility;
Exec=latte-dock %u
Icon=latte-dock
InitialPreference=1
StartupNotify=true
Terminal=false
Type=Application

