[Desktop Entry]
Name=Standard Latte Menu
Comment=The latte menu that normally shows on right-click

Type=Service
Icon=help-contextual
ServiceTypes=Plasma/ContainmentActions
X-KDE-Library=plasma_containmentactions_lattecontextmenu
X-KDE-PluginInfo-Author=Michail Vourlakos
X-KDE-PluginInfo-Email=mvourlakos@gmail.com
X-KDE-PluginInfo-Name=org.kde.latte.contextmenu
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=https://github.com/psifidotos/Latte-Dock/
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
