[Desktop Entry]
Name=Standard Latte Menu
Name[ca]=Menú estàndard del Latte
Name[ca@valencia]=Menú estàndard del Latte
Name[it]=Menu standard di Latte
Name[nl]=Standaard menu van Latte
Name[pt]=Menu Normal do Latte
Name[sv]=Latte standardmeny
Name[uk]=Стандартне меню Латте
Name[x-test]=xxStandard Latte Menuxx
Comment=The latte menu that normally shows on right-click
Comment[ca]=El menú Latte que es mostra normalment amb un clic del botó dret
Comment[ca@valencia]=El menú Latte que es mostra normalment amb un clic del botó dret
Comment[it]=Il menu di Latte che normalmente viene mostrato al clic destro
Comment[nl]=Het menu van latte dat normaal getoond wordt bij rechtsklikken
Comment[pt]=O menu do Latte que normalmente aparece com o botão direito do rato
Comment[sv]=Menyn i Latte som normalt visas vid högerklick
Comment[uk]=Меню Латте, яке буде показано у відповідь на клацання правою кнопкою миші
Comment[x-test]=xxThe latte menu that normally shows on right-clickxx

Type=Service
Icon=help-contextual
ServiceTypes=Plasma/ContainmentActions
X-KDE-Library=plasma_containmentactions_lattecontextmenu
X-KDE-PluginInfo-Author=Michail Vourlakos
X-KDE-PluginInfo-Email=mvourlakos@gmail.com
X-KDE-PluginInfo-Name=org.kde.latte.contextmenu
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=https://github.com/psifidotos/Latte-Dock/
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
