[Desktop Entry]
Name=Standard Latte Menu
Name[ca]=Menú estàndard del Latte
Name[ca@valencia]=Menú estàndard del Latte
Name[cs]=Standardní nabídka Latte
Name[de]=Standard-Latte-Menü
Name[el]=Προκαθορισμένο Μενού Latte
Name[en_GB]=Standard Latte Menu
Name[es]=Menú estándar de Latte
Name[gl]=Menú estándar de Latte
Name[it]=Menu standard di Latte
Name[nl]=Standaard menu van Latte
Name[nn]=Standard Latte-meny
Name[pt]=Menu Normal do Latte
Name[pt_BR]=Menu padrão do Latte
Name[sv]=Latte standardmeny
Name[uk]=Стандартне меню Латте
Name[x-test]=xxStandard Latte Menuxx
Name[zh_CN]=标准 Latte 菜单
Name[zh_TW]=標準的 Latte 選單
Comment=The latte menu that normally shows on right-click
Comment[ca]=El menú Latte que es mostra normalment amb un clic del botó dret
Comment[ca@valencia]=El menú Latte que es mostra normalment amb un clic del botó dret
Comment[de]=Das Latte-Menü, das normalerweise mit der rechten Maustaste angezeigt wird
Comment[el]=Το προκαθορισμένο μενού του Latte που εμφανίζεται με δεξί κλικ
Comment[en_GB]=The latte menu that normally shows on right-click
Comment[es]=Este es el menú de Latte que normalmente se muestra tras un clic derecho
Comment[gl]=O menú de Latte que adoita mostrarse ao premer co botón secundario.
Comment[it]=Il menu di Latte che normalmente viene mostrato al clic destro
Comment[nl]=Het menu van latte dat normaal getoond wordt bij rechtsklikken
Comment[nn]=Latte-menyen som som standard vert vist ved høgreklikk
Comment[pt]=O menu do Latte que normalmente aparece com o botão direito do rato
Comment[pt_BR]=O menu do Latte que normalmente aparece ao clicar com o botão direito do mouse
Comment[sv]=Menyn i Latte som normalt visas vid högerklick
Comment[uk]=Меню Латте, яке буде показано у відповідь на клацання правою кнопкою миші
Comment[x-test]=xxThe latte menu that normally shows on right-clickxx
Comment[zh_CN]=通常在右键点击时显示的 latte 菜单
Comment[zh_TW]=這個 Latte 選單通常在按下右鍵時顯示

Type=Service
Icon=help-contextual
ServiceTypes=Plasma/ContainmentActions
X-KDE-Library=plasma_containmentactions_lattecontextmenu
X-KDE-PluginInfo-Author=Michail Vourlakos
X-KDE-PluginInfo-Email=mvourlakos@gmail.com
X-KDE-PluginInfo-Name=org.kde.latte.contextmenu
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=https://github.com/psifidotos/Latte-Dock/
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
