[Desktop Entry]
Name=Unity
Name[ca]=Unity
Name[ca@valencia]=Unity
Name[gl]=Unity
Name[nl]=Unity
Name[uk]=Unity
Name[x-test]=xxUnityxx
Comment=Latte Unity style indicator
Comment[ca]=Indicador a l'estil Unity del Latte
Comment[ca@valencia]=Indicador a l'estil Unity del Latte
Comment[gl]=Indicador de estilo Unity de Latte
Comment[nl]=Unity stijlindicator van Latte
Comment[uk]=Індикатор стилю Unity Латте
Comment[x-test]=xxLatte Unity style indicatorxx

Type=Service
Icon=latte-dock
X-Plasma-API=declarativeappletscript
X-Latte-MainScript=ui/main.qml

X-KDE-PluginInfo-Author=Michail Vourlakos
X-KDE-PluginInfo-Email=mvourlakos@gmail.com
X-KDE-PluginInfo-Name=org.kde.latte.unity
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Category=Latte Indicator
X-KDE-PluginInfo-License=GPL v2+
X-KDE-PluginInfo-EnabledByDefault=true

