[Desktop Entry]
Name=Indicator
Name[ca]=Indicador
Name[ca@valencia]=Indicador
Name[cs]=Ukazatel
Name[el]=Δείκτης
Name[en_GB]=Indicator
Name[es]=Indicador
Name[eu]=Adierazlea
Name[fi]=Ilmaisin
Name[gl]=Indicador
Name[id]=Indikator
Name[it]=Indicatore
Name[ko]=표시도구
Name[lt]=Indikatorius
Name[nl]=Indicator
Name[nn]=Markør
Name[pl]=Wskaźnik
Name[pt]=Indicador
Name[pt_BR]=Indicador
Name[ru]=Индикатор
Name[sv]=Indikator
Name[uk]=Індикатор
Name[x-test]=xxIndicatorxx
Name[zh_CN]=任务指示器
Name[zh_TW]=指示器
Type=Service
X-KDE-ServiceTypes=KPackage/PackageStructure
X-KDE-Library=latte_packagestructure_indicator
X-KDE-PluginInfo-Author=Michail Vourlakos
X-KDE-PluginInfo-Email=mvourlakos@gmail.com
X-KDE-PluginInfo-Name=Latte/Indicator
X-KDE-PluginInfo-Version=1
X-KDE-ParentApp=org.kde.latte-dock
