[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Latte/Indicator

Comment=Latte indicator
Comment[ca]=Indicador del Latte
Comment[ca@valencia]=Indicador del Latte
Comment[en_GB]=Latte indicator
Comment[es]=Indicador Latte
Comment[gl]=Indicador de Latte
Comment[it]=Indicatore Latte
Comment[nl]=Indicator van Latte
Comment[pt]=Indicador do Latte
Comment[pt_BR]=Indicador do Latte
Comment[sv]=Latte indikator
Comment[uk]=Індикатор Латте
Comment[x-test]=xxLatte indicatorxx

[PropertyDef::X-Latte-API]
Type=QString

[PropertyDef::X-Latte-MainScript]
Type=QString

[PropertyDef::X-Latte-ConfigUi]
Type=QString

[PropertyDef::X-Latte-ConfigXml]
Type=QString

