[Desktop Entry]
Encoding=UTF-8
Name=Latte
Name[ca]=Latte
Name[ca@valencia]=Latte
Name[de]=Latte
Name[es]=Latte
Name[nl]=Latte
Name[pt]=Latte
Name[sv]=Latte
Name[uk]=Латте
Name[x-test]=xxLattexx
Comment=Containment provided for the Latte Dock
Comment[ca]=Intèrpret d'ordres proporcionat pel Latte Dock
Comment[ca@valencia]=Intèrpret d'ordes proporcionat pel Latte Dock
Comment[de]=Containment für Latte-Dock
Comment[es]=Contención proporcionada para Latte Dock
Comment[nl]=Container geleverd voor de Latte Dock
Comment[pt]=Contentor oferecido para a área acoplável do Latte
Comment[sv]=Omgivning tillhandahållen för Latte dockningsfönster
Comment[uk]=Контейнер панелі Латте
Comment[x-test]=xxContainment provided for the Latte Dockxx

Type=Service
NoDisplay=true

X-KDE-PluginInfo-Author=Michail Vourlakos, Smith Ar
X-KDE-PluginInfo-Email=mvourlakos@gmail.com, audoban@openmailbox.org
X-KDE-PluginInfo-Name=org.kde.latte.containment
X-KDE-PluginInfo-Version=0.7.1
X-KDE-PluginInfo-Website=https://github.com/psifidotos/Latte-Dock
X-KDE-PluginInfo-Category=X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-ServiceTypes=Plasma/Applet,Plasma/Containment
X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
X-Plasma-ContainmentType=Panel
