[Desktop Entry]
Encoding=UTF-8
Name[el]=Latte
Name[zh_TW]=Latte
Name=Latte
Comment[el]=Containment που παρέχεται από το Latte
Comment[zh_TW]=提供 Latte Dock 使用的容器
Comment=Containment provided for the Latte Dock

Type=Service
NoDisplay=true

X-KDE-PluginInfo-Author=Michail Vourlakos, Smith Ar
X-KDE-PluginInfo-Email=mvourlakos@gmail.com, audoban@openmailbox.org
X-KDE-PluginInfo-Name=org.kde.latte.containment
X-KDE-PluginInfo-Version=0.6.87
X-KDE-PluginInfo-Website=https://github.com/psifidotos/Latte-Dock
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-ServiceTypes=Plasma/Applet,Plasma/Containment
X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
X-Plasma-ContainmentType=Panel 
