[Desktop Entry]
Name=Latte Dock
Comment=Latte Dock Application
Exec=latte-dock %u
Hidden=true
Icon=plasma
InitialPreference=1
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=unique
X-KDE-SubstituteUID=false
X-KDE-Username=
