[Desktop Entry]
Name=Activate Latte Launcher Menu
Name[ca]=Activa el menú del llançador del Latte
Name[ca@valencia]=Activa el menú del llançador del Latte
Name[de]=Latte-Anwendungsmenü öffnen
Name[el]=Ενεργοποίηση Μενού Εφαρμογών στο Latte
Name[en_GB]=Activate Latte Launcher Menu
Name[es]=Activar menú de lanzadores de Latte
Name[gl]=Activar o menú iniciador de Latte
Name[it]=Attiva il menu del lanciatore di Latte
Name[nl]=Latte-startprogramma activeren
Name[nn]=Aktiver meny for Latte-startar
Name[pt]=Activar o Menu de Lançamento do Latte
Name[pt_BR]=Ativar o menu do lançador do Latte
Name[sv]=Aktivera Latte startmeny
Name[uk]=Активувати меню запуску Латте
Name[x-test]=xxActivate Latte Launcher Menuxx
Name[zh_CN]=激活 Latte 启动器菜单
Name[zh_TW]=啟用 Latte 啟動器選單
Comment=Activate Latte Launcher Menu from screen edge
Comment[ca]=Activa el menú del llançador del Latte des de la vora de la pantalla
Comment[ca@valencia]=Activa el menú del llançador del Latte des de la vora de la pantalla
Comment[de]=Latte-Anwendungsmenü über eine Bildschirmecke öffnen
Comment[el]=Ενεργοποίηση Μενού Εφαρμογών στο Latte από την άκρη της οθόνης
Comment[en_GB]=Activate Latte Launcher Menu from screen edge
Comment[es]=Activar menú de lanzadores de Latte desde el borde de la pantalla
Comment[gl]=Activar o menú iniciador de Latte desde unha esquina da pantalla.
Comment[it]=Attiva il menu del lanciatore di Latte dal bordo dello schermo
Comment[nl]=Latte-startprogramma activeren vanaf de schermrand
Comment[nn]=Aktiver meny for Latte-startar frå skjermkant
Comment[pt]=Activar o Menu de Lançamento do Latte no extremo do ecrã
Comment[pt_BR]=Ativa o menu do lançador do Latte a partir da borda da tela
Comment[sv]=Aktivera Latte startmeny från skärmkant
Comment[uk]=Активувати меню запуску Латте з краю екрана
Comment[x-test]=xxActivate Latte Launcher Menu from screen edgexx
Comment[zh_CN]=在屏幕边缘激活 Latte 启动器菜单
Comment[zh_TW]=啟用來自螢幕邊緣的 Latte 啟動器選單
Icon=latte-dock
Type=Service

X-Plasma-API=javascript
X-Plasma-MainScript=code/main.js
X-KWin-Border-Activate=true
X-KDE-PluginInfo-Author=Michail Vourlakos
X-KDE-PluginInfo-Email=mvourlakos@gmail.com
X-KDE-PluginInfo-Name=activatelattelaunchermenu
X-KDE-PluginInfo-Version=0.1

X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-ServiceTypes=KWin/Script
X-KDE-PluginKeyword=activatelattelaunchermenu

