[Desktop Entry]
Name=Activate Latte Launcher Menu
Name[ca]=Activa el menú del llançador del Latte
Name[ca@valencia]=Activa el menú del llançador del Latte
Name[en_GB]=Activate Latte Launcher Menu
Name[es]=Activar menú de lanzadores de Latte
Name[nl]=Latte-startprogramma activeren
Name[pt]=Activar o Menu de Lançamento do Latte
Name[uk]=Активувати меню запуску Латте
Name[x-test]=xxActivate Latte Launcher Menuxx
Comment=Activate Latte Launcher Menu from screen edge
Comment[ca]=Activa el menú del llançador del Latte des de la vora de la pantalla
Comment[ca@valencia]=Activa el menú del llançador del Latte des de la vora de la pantalla
Comment[en_GB]=Activate Latte Launcher Menu from screen edge
Comment[es]=Activar menú de lanzadores de Latte desde el borde de la pantalla
Comment[nl]=Latte-startprogramma activeren vanaf de schermrand
Comment[pt]=Activar o Menu de Lançamento do Latte no extremo do ecrã
Comment[uk]=Активувати меню запуску Латте з краю екрана
Comment[x-test]=xxActivate Latte Launcher Menu from screen edgexx
Icon=latte-dock
Type=Service

X-Plasma-API=javascript
X-Plasma-MainScript=code/main.js
X-KWin-Border-Activate=true
X-KDE-PluginInfo-Author=Michail Vourlakos
X-KDE-PluginInfo-Email=mvourlakos@gmail.com
X-KDE-PluginInfo-Name=activatelattelaunchermenu
X-KDE-PluginInfo-Version=0.1

X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-ServiceTypes=KWin/Script
X-KDE-PluginKeyword=activatelattelaunchermenu

