[ActionPlugins][1]
RightButton;NoModifier=org.kde.latte.contextmenu

[Containments][1]
activityId=
dockWindowBehavior=true
formfactor=2
immutability=1
lastScreen=-1
location=4
onPrimary=true
plugin=org.kde.latte.containment
raiseOnActivityChange=false
raiseOnDesktopChange=false
timerHide=700
timerShow=200
visibility=2
wallpaperplugin=org.kde.image

[Containments][1][Applets][3]
immutability=1
plugin=org.kde.plasma.analogclock

[Containments][1][Applets][4]
immutability=1
plugin=org.kde.plasma.kickoff

[Containments][1][Applets][4][Configuration][General]
favorites=preferred://browser,systemsettings.desktop,org.kde.dolphin.desktop,org.kde.kate.desktop,org.kde.discover.desktop

[Containments][1][Applets][5]
immutability=1
plugin=org.kde.plasma.systemtray

[Containments][1][Applets][5][Configuration]
SystrayContainmentId=6

[Containments][1][Applets][57]
immutability=1
plugin=org.kde.latte.plasmoid

[Containments][1][Applets][57][Configuration][General]
isInLatteDock=true
launchers59=applications:firefox.desktop,applications:org.kde.dolphin.desktop

[Containments][1][ConfigDialog]
DialogHeight=600
DialogWidth=586

[Containments][1][General]
advanced=false
alignment=10
alignmentUpgraded=true
appletOrder=4;57;3;5
autoDecreaseIconSize=false
iconMargin=0
iconSize=48
maxLength=90
panelPosition=10
panelSize=100
shadowOpacity=35
shadowSize=45
showGlow=false
splitterPosition=3
splitterPosition2=4
zoomLevel=0

[Containments][6]
activityId=
formfactor=2
immutability=1
lastScreen=-1
location=4
plugin=org.kde.plasma.private.systemtray
wallpaperplugin=org.kde.image

[Containments][6][Applets][10]
immutability=1
plugin=org.kde.plasma.devicenotifier

[Containments][6][Applets][11]
immutability=1
plugin=org.kde.plasma.notifications

[Containments][6][Applets][12]
immutability=1
plugin=org.kde.plasma.printmanager

[Containments][6][Applets][13]
immutability=1
plugin=org.kde.plasma.clipboard

[Containments][6][Applets][14]
immutability=1
plugin=org.kde.plasma.battery

[Containments][6][Applets][16]
immutability=1
plugin=org.kde.plasma.networkmanagement

[Containments][6][Applets][17]
immutability=1
plugin=org.kde.plasma.bluetooth

[Containments][6][Applets][43]
immutability=1
plugin=org.kde.discovernotifier

[Containments][6][Applets][7]
immutability=1
plugin=org.kde.kdeconnect

[Containments][6][Applets][9]
immutability=1
plugin=org.kde.plasma.volume

[Containments][6][General]
extraItems=org.kde.plasma.networkmanagement,org.kde.ktp-contactlist,org.kde.plasma.clipboard,org.kde.plasma.printmanager,org.kde.kdeconnect,org.kde.plasma.pkupdates,org.kde.plasma.battery,org.kde.plasma.bluetooth,org.kde.plasma.notifications,org.kde.plasma.devicenotifier,org.kde.plasma.volume,org.kde.plasma.mediacontroller,org.kde.discovernotifier
knownItems=org.kde.plasma.networkmanagement,org.kde.ktp-contactlist,org.kde.plasma.clipboard,org.kde.plasma.printmanager,org.kde.kdeconnect,org.kde.plasma.pkupdates,org.kde.plasma.battery,org.kde.plasma.bluetooth,org.kde.plasma.notifications,org.kde.plasma.devicenotifier,org.kde.plasma.volume,org.kde.plasma.mediacontroller,org.kde.discovernotifier

[LayoutSettings]
activities=
color=lightskyblue
globalLaunchers=
launchers=
showInMenu=true
version=2
