[Desktop Entry]
Name=Plasma
Name[ca]=Plasma
Name[ca@valencia]=Plasma
Name[en_GB]=Plasma
Name[fr]=Plasma
Name[gl]=Plasma
Name[it]=Plasma
Name[nl]=Plasma
Name[pt]=Plasma
Name[sv]=Plasma
Name[uk]=Плазма
Name[x-test]=xxPlasmaxx
Comment=Latte Plasma style indicator
Comment[ca]=Indicador a l'estil Plasma del Latte
Comment[ca@valencia]=Indicador a l'estil Plasma del Latte
Comment[en_GB]=Latte Plasma style indicator
Comment[gl]=Indicador de estilo Plasma de Latte
Comment[it]=Indicatore stile di Plasma di Latte
Comment[nl]=Plasma stijlindicator van Latte
Comment[pt]=Indicador de estilo do Plasma no Latte
Comment[sv]=Latte Plasmastilindikator
Comment[uk]=Індикатор стилю Плазми Латте
Comment[x-test]=xxLatte Plasma style indicatorxx

Encoding=UTF-8
Type=Service
Icon=latte-dock
X-Plasma-API=declarativeappletscript
X-KDE-ServiceTypes=Latte/Indicator

X-Latte-MainScript=ui/main.qml

X-KDE-PluginInfo-Author=Michail Vourlakos
X-KDE-PluginInfo-Email=mvourlakos@gmail.com
X-KDE-PluginInfo-Name=org.kde.latte.plasma
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Category=Latte Indicator
X-KDE-PluginInfo-License=GPL v2+
X-KDE-PluginInfo-EnabledByDefault=true

