[Desktop Entry]
Name=Plasma
Name[ca]=Plasma
Name[ca@valencia]=Plasma
Name[cs]=Plasma
Name[de]=Plasma
Name[el]=Plasma
Name[en_GB]=Plasma
Name[es]=Plasma
Name[fi]=Plasma
Name[fr]=Plasma
Name[gl]=Plasma
Name[id]=Plasma
Name[it]=Plasma
Name[ko]=Plasma
Name[lt]=Plasma
Name[nl]=Plasma
Name[nn]=Plasma
Name[pl]=Plazma
Name[pt]=Plasma
Name[pt_BR]=Plasma
Name[ru]=Plasma
Name[sv]=Plasma
Name[uk]=Плазма
Name[x-test]=xxPlasmaxx
Name[zh_CN]=Plasma
Name[zh_TW]=Plasma
Comment=Latte Plasma style indicator
Comment[ca]=Indicador a l'estil Plasma del Latte
Comment[ca@valencia]=Indicador a l'estil Plasma del Latte
Comment[cs]=Ukazatel Latte ve stylu Plasma
Comment[el]=Δείκτης Latte σε στιλ Plasma
Comment[en_GB]=Latte Plasma style indicator
Comment[es]=Estilo del indicador Plasma Latte
Comment[fi]=Plasma-tyylin Latte-ilmaisin
Comment[gl]=Indicador de estilo Plasma de Latte
Comment[id]=Indikator latte gaya Plasma
Comment[it]=Indicatore stile di Plasma di Latte
Comment[ko]=Latte Plasma 스타일 표시기
Comment[lt]=Latte Plasma stiliaus indikatorius
Comment[nl]=Plasma stijlindicator van Latte
Comment[nn]=Latte-markør i Plasma-stil
Comment[pl]=Wskaźnik Latte dla Plazmy
Comment[pt]=Indicador de estilo do Plasma no Latte
Comment[pt_BR]=Indicador de estilo do Plasma no Latte
Comment[ru]=Индикатор Latte в стиле Plasma
Comment[sk]=Indikátor Latte v štýle Plasma
Comment[sv]=Latte Plasmastilindikator
Comment[uk]=Індикатор стилю Плазми Латте
Comment[x-test]=xxLatte Plasma style indicatorxx
Comment[zh_CN]=Latte Plasma 样式指示器
Comment[zh_TW]=Latte Plasma 樣式指示器

Encoding=UTF-8
Type=Service
Icon=latte-dock
X-Plasma-API=declarativeappletscript
X-KDE-ServiceTypes=Latte/Indicator

X-Latte-MainScript=ui/main.qml
X-Latte-ConfigUi=config/config.qml
X-Latte-ConfigXml=config/main.xml

X-KDE-PluginInfo-Author=Michail Vourlakos
X-KDE-PluginInfo-Email=mvourlakos@gmail.com
X-KDE-PluginInfo-Name=org.kde.latte.plasma
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Category=Latte Indicator
X-KDE-PluginInfo-License=GPL v2+
X-KDE-PluginInfo-EnabledByDefault=true

