[Desktop Entry]
Encoding=UTF-8
Name=Latte Shell
Name[ca]=Intèrpret d'ordres del Latte
Name[ca@valencia]=Intèrpret d'ordres del Latte
Name[cs]=Shell Latte
Name[da]=Latte-skal
Name[de]=Latte-Shell
Name[el]=Κέλυφος Latte
Name[en_GB]=Latte Shell
Name[es]=Consola de Latte
Name[gl]=Intérprete de ordes de Latte
Name[it]=shell Latte
Name[nl]=Latte-shell
Name[nn]=Latte-skal
Name[pl]=Powłoka Latte
Name[pt]=Consola do Latte
Name[pt_BR]=Latte Shell
Name[sv]=Latte skal
Name[uk]=Оболонка Латте
Name[x-test]=xxLatte Shellxx
Name[zh_CN]=Latte Shell
Name[zh_TW]=Latte Shell
Comment=Shell provided for the Latte Dock
Comment[ca]=Intèrpret d'ordres proporcionat pel Latte Dock
Comment[ca@valencia]=Intèrpret d'ordres proporcionat pel Latte Dock
Comment[da]=Skal til Latte-dokken
Comment[de]=Shell für Latte-Dock
Comment[el]=Κέλυφος που παρέχεται από την εφαρμογή Latte
Comment[en_GB]=Shell provided for the Latte Dock
Comment[es]=Shell proporcionada para Latte Dock
Comment[gl]=Intérprete de ordes fornecido para a doca Latte.
Comment[it]=Shell fornita per Latte Dock
Comment[nl]=Shell geleverd voor de Latte Dock
Comment[nn]=Skal frå Latte-dokk
Comment[pl]=Powłoka dla doku Latte
Comment[pt]=Consola oferecida para a área acoplável do Latte
Comment[pt_BR]=Shell fornecido pelo Latte Dock
Comment[sv]=Skal tillhandahållet för Latte dockningsfönster
Comment[uk]=Оболонка панелі Латте
Comment[x-test]=xxShell provided for the Latte Dockxx
Comment[zh_CN]=用于 Latte 停靠栏的 Shell
Comment[zh_TW]=由 Latte Dock 提供的 Shell

Keywords=shell
Keywords[ca]=intèrpret d'ordres
Keywords[ca@valencia]=intèrpret d'ordres
Keywords[da]=skal
Keywords[de]=Shell
Keywords[el]=κέλυφος
Keywords[en_GB]=shell
Keywords[es]=consola
Keywords[gl]=intérprete de ordes
Keywords[it]=shell
Keywords[nl]=shell
Keywords[nn]=skal
Keywords[pl]=powłoka
Keywords[pt]=consola
Keywords[pt_BR]=shell
Keywords[sk]=shell
Keywords[sv]=skal
Keywords[uk]=оболонка
Keywords[x-test]=xxshellxx
Keywords[zh_CN]=shell
Keywords[zh_TW]=shell
Type=Service

X-KDE-ServiceTypes=Plasma/Shell
X-KDE-ParentApp=latte-dock
X-KDE-PluginInfo-Author=Michail Vourlakos, Smith Ar
X-KDE-PluginInfo-Email=mvourlakos@gmail.com, audoban@openmailbox.org
X-KDE-PluginInfo-License=GPLv3+
X-KDE-PluginInfo-Name=org.kde.latte.shell
X-KDE-PluginInfo-Version=0.8.0
X-KDE-PluginInfo-Website=https://github.com/psifidotos/Latte-Dock
