[Desktop Entry]
Encoding=UTF-8
Name[zh_TW]=Latte Shell
Name=Latte Shell
Comment[zh_TW]=由 Latte Dock 提供的 Shell
Comment=Shell provided for the Latte Dock

Keywords=shell
Type=Service

X-KDE-ServiceTypes=Plasma/Shell
X-KDE-ParentApp=latte-dock
X-KDE-PluginInfo-Author=Michail Vourlakos, Smith Ar
X-KDE-PluginInfo-Email=mvourlakos@gmail.com, audoban@openmailbox.org
X-KDE-PluginInfo-License=GPLv3+
X-KDE-PluginInfo-Name=org.kde.latte.shell
X-KDE-PluginInfo-Version=0.6.91
X-KDE-PluginInfo-Website=https://github.com/psifidotos/Latte-Dock
