[Desktop Entry]
Name=Latte
Name[ar]=لاتيه
Name[ast]=Latte
Name[az]=Latte
Name[ca]=Latte
Name[ca@valencia]=Latte
Name[cs]=Latte
Name[da]=Latte
Name[de]=Latte
Name[el]=Latte
Name[en_GB]=Latte
Name[es]=Latte
Name[et]=Latte
Name[eu]=Latte
Name[fi]=Latte
Name[fr]=Latte
Name[gl]=Latte
Name[hsb]=Latte
Name[ia]=Latte
Name[id]=Latte
Name[it]=Latte
Name[ko]=Latte
Name[lt]=Latte
Name[nl]=Latte
Name[nn]=Latte
Name[pl]=Latte
Name[pt]=Latte
Name[pt_BR]=Latte
Name[ru]=Latte
Name[sk]=Latte
Name[sl]=Latte
Name[sv]=Latte
Name[uk]=Латте
Name[x-test]=xxLattexx
Name[zh_CN]=Latte
Name[zh_TW]=Latte
Comment=Latte default indicator
Comment[ar]=مؤشر لاتيه المبدئي
Comment[az]=Latte standart indikatoru
Comment[ca]=Indicador predeterminat del Latte
Comment[ca@valencia]=Indicador predeterminat del Latte
Comment[cs]=Výchozí ukazatel Latte
Comment[el]=Προκαθορισμένος δείκτης Latte
Comment[en_GB]=Latte default indicator
Comment[es]=Indicador por omisión de Latte
Comment[et]=Latte vaikeindikaator
Comment[eu]=Latte adierazle lehenetsia
Comment[fi]=Latte-oletusilmaisin
Comment[fr]=Indicateur de Latte par défaut
Comment[gl]=Indicador predeterminado de Latte
Comment[id]=Indikator baku latte
Comment[it]=Indicatore predefinito di Latte
Comment[ko]=Latte 기본 표시기
Comment[lt]=Latte numatytasis indikatorius
Comment[nl]=Standaard indicator van Latte
Comment[nn]=Standard Latte-markør
Comment[pl]=Domyślny wskaźnik Latte
Comment[pt]=Indicador predefinido do Latte
Comment[pt_BR]=Indicador padrão do Latte
Comment[ru]=Индикатор Latte умолчанию
Comment[sk]=Predvolený indikátor pre Latte
Comment[sl]=Privzeti kazalnik Latte
Comment[sv]=Latte standardindikator
Comment[uk]=Типовий індикатор Латте
Comment[x-test]=xxLatte default indicatorxx
Comment[zh_CN]=Latte 默认任务指示器
Comment[zh_TW]=Latte 預設指示器

Encoding=UTF-8
Type=Service
Icon=latte-dock
X-Plasma-API=declarativeappletscript
X-KDE-ServiceTypes=Latte/Indicator

X-Latte-MainScript=ui/main.qml
X-Latte-ConfigUi=config/config.qml
X-Latte-ConfigXml=config/main.xml

X-KDE-PluginInfo-Author=Michail Vourlakos
X-KDE-PluginInfo-Email=mvourlakos@gmail.com
X-KDE-PluginInfo-Name=org.kde.latte.default
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Category=Latte Indicator
X-KDE-PluginInfo-License=GPL v2+
X-KDE-PluginInfo-EnabledByDefault=true

